[submodule "third_party/pcsx_rearmed"]
	path = third_party/pcsx_rearmed
	url = https://github.com/libretro/pcsx_rearmed.git
[submodule "third_party/rcheevos"]
	path = third_party/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "third_party/beetle-psx"]
	path = third_party/beetle-psx
	url = https://github.com/mihawk-99/PS5_BeetlePSX.git
[submodule "third_party/swanstation"]
	path = third_party/swanstation
	url = https://github.com/libretro/swanstation.git
