[submodule "third_party/rcheevos"]
	path = third_party/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "third_party/swanstation"]
	path = third_party/swanstation
	url = https://github.com/libretro/swanstation.git
